.properties-content{
    background: #ffffff;
    border-radius: 0.625rem;
    margin-inline: 2rem;
    min-height: 37.625rem;
    padding-bottom: 2rem;

    .bloc-tabs{
        align-items: center;
        padding-left: 2rem;
        display: flex;
        height: 5.125rem;
        border-width: 0 0 0.03125rem  0;
        border-style: solid;
        cursor: pointer;

        .tabs{
            font-size: 1.375rem;
            line-height: 1.125rem;
            height: 5.125rem;
            h4{
              font-weight: 500;
              padding-block: 2rem;  
            }
            
        }
        .active-tabs{

            border-width: 0 0 3px  0;
            border-style: solid;
            border-color: #3F7843;

        }

    }

    .select-action{
        display: flex;
        justify-content: space-between;
        background: #F0F0F0;
        border-radius: 0.3125rem;
        margin-inline: 2rem;
        padding: 1rem;
        margin-block: 1rem;
        align-items: center;

        .select{
            display: flex;
            align-items: center;
            .btn-green{
                background-color: #3F7843;
                margin-left: 0.2rem;
                height: 0.875rem;
                width: 0.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                border: 0.03125rem solid #3F7843;

                img{
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }

            
        }

        .action{
            border-radius: 0.625rem;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                margin-left: 0.5rem;
            }

        }
    }


}