@import "./helper";

* {
  margin: 0px;
  box-sizing: 0px;
  padding: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 0 auto;
  gap: 38px;
  height: 60px;
  width: 100%;
  align-items: center;
  box-shadow: 0px 0px 5px 1px black;
  position: sticky;
  top: 0px;
  z-index: 100;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px 0px 0px;

    .btn {
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #3f7843;
      color: white;
    }

    button:hover {
      box-shadow: inset 0 0 0 1px #3f7843;
      transition: background-color 0.5s ease;
      background-color: white;
      color: #3f7843;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      li {
        list-style: none;
        font-size: 20px;
      }
    }
  }
  .nav-main {
    padding: 0px 0px 0px 20px;

    .Hamburger {
      cursor: pointer;
      display: none;
      align-items: center;
    }

    .logo {
      font-size: 22px;
      font-weight: 900;
      color: #3f7843;
      text-decoration: none;
      @media screen and (max-width: 769px) {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    .nav-main {
      .Hamburger {
        display: block;
      }
      @media screen and (max-width: 769px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
      }
    }

    nav {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0px;
      width: 50%;
      height: 450px;
      background-color: rgb(206, 230, 203);
      display: none;
      margin-right: 0px;
      padding: 30px 0px 30px 0px;
      animation: slideIn 0.5s ease-in-out forwards;

      @keyframes slideIn {
        from {
          transform: translateX(-100%);
        }

        to {
          transform: translateX(0%);
        }
      }

      ul {
        flex-direction: column;
        text-align: center;
        gap: 0px;

        .btn {
          margin-top: 5px;
        }
      }
    }

    .nav-items {
      display: block;
    }
  }
}

.nav-list {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.active {
  color: #3f7843;
  text-decoration: none;
  font-weight: 500;
}
