.single-property{
    width: 100%;
    min-height: 80vh;
    background: #FAFAFA;
    font-family: 'Satoshi';

    .filter-search{
        width: 100%;
        height: 60px;
        padding-right:159px;
        padding-block: 8px;
        padding-left: 9.5rem;
        background: #E4E4E4;
        box-sizing: border-box;
        @media screen and (max-width: 769px) {
          display: none;
        }
        
    
        form{
          display: flex;
          width: 100%;
    
          .location{
            width: 30%;
            border: 0.5px solid #000000;
            border-radius: 5px;
            background: #FFFFFF;
            padding: 10px;
            input{
              width: 100%;
              background: transparent;              
              outline: none;
              border: none;
            }
          }
    
          .category{
            background: #FFFFFF;
            border-radius: 5px;
            padding: 10px;
            border: 0.5px solid #000000;
            margin-left: 20px;
    
            select{
              border: none;
              background: transparent;
              outline: none;
            }
    
          }
          
        }
      }

      .property-agent{
        width: 80%;
        display: flex;
        margin-inline: 9.5rem;
        gap: 20px;

        .property{
            margin-top: 20px;
            width: 68%;
            .carousel{
                width: 100%;
                position: relative;

                .next{
                    position: absolute;
                    top: 220px;
                    left: 760px;
                    cursor: pointer;
                }

                .prev{
                    position: absolute;
                    top: 220px;
                    left: 15px;
                    cursor: pointer;
                }

                .slide{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 440px;
                        border-radius: 5px;

                    }
                }
            }

            .gallery{
                width: 100%;
                position: relative;
                margin-block: 10px;
                .slides-container{
                    display: flex;
                    width: 100%;
                    gap: 10px;

                    .slide{
                        width: 20%;
                        height: 112px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .prev-btn{
                    position: absolute;
                    top: 50px;
                    left: 5px;
                    cursor: pointer;
                }

                .next-btn{
                    position: absolute;
                    top: 50px;
                    left: 790px;
                    cursor: pointer;
                }
            }

            .agent-price{
              display: flex;
              justify-content: space-between;
              h2{
                font-weight: 700;
                font-size: 35px;
              }

              h3{
                font-weight: 500;
                font-size: 22px;
                span{
                  font-size: 28px;
                  color: #3F7843;
                  font-weight: 900;
                }
              }
            }
            .address{
              display: flex;
              gap: 5px;
              img{
                width: 20px;
                height: 20px;
              }

              p{
                font-size: 18px;
                font-weight: 500;
              }
            }

            .details{
              display: flex;
              gap: 0;
              margin-block: 10px;

              .bedroom{
                padding-block: 10px;
                padding-inline: 45px;
                border: 0.5px solid #000000;
                .small{
                  font-size: 14px;
                  font-weight: 400;
                }
                .big{
                  font-size: 17px;
                  font-weight: 500;
                }
              }
            }

            .property-description{
              margin-block: 20px;
              h3{
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 10px;
              }

              p{
                font-size: 18px;
                font-weight: 400;
                text-align: left;
              }
            }
            .amenities{
              display: flex;
              gap: 100px;
              margin-block: 20px;
              .outdoor{
                h4{
                  font-size: 22px;
                  font-weight: 500;
                }
                ul{
                  padding-inline: 30px;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }

            .map{
              width: 100%;
              margin-block: 20px;
              h4{
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
              }
              iframe{
                width: 100%;
                height: 450px;
                border: none;
              }
            }

            .similar-properties{
              background: #FAFAFA;

              h2{
                font-size: 35px;
                font-weight: 700;
                margin-block: 20px;
              }

              .listing-details{
                display: flex;
                margin-block: 1rem;
                box-shadow: 8px 10px 10px 0 rgba(0, 0, 0, 0.2);
                border-radius: 12px;
                margin-top: 2rem;
                @media screen and (max-width: 769px) {
                  flex-direction: column;
                  align-items: center;
                  width: 90%;
                  margin-left: auto;
                  margin-right: auto;
                }
                
        
        
                .img-left{
                  height: 280px;
                  width: 280px;
                  @media screen and (max-width: 769px) {
                    width: 100%;
                    height: 200px;
                    border-radius: 10px 10px 0px 0px;
                  }
                  img{
                    @media screen and (max-width: 769px) {
                      width: 100%;
                      height: 200px;
                      border-radius: 10px 10px 0px 0px;
                    }
                  }
                }
        
                .details-right{
                  background: #FFFFFF;
                  border-radius: 10px;
                  @media screen and (max-width: 769px) {
                    width: 100%; 
                  }
        
                  h3{
                    margin-left: 1rem;
                    margin-right: 1.5rem;
                    font-family: 'Satoshi';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 22px;
                    color: #000000;
                    margin-top: 0.5rem;
                  }
                  p{
                    margin-left: 1rem;
                    margin-right: 1.5rem;
                    margin-top: 1rem;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                    
                  }
        
                  h4{
                    margin-left: 1rem;
                    margin-right: 1.5rem;
                    margin-top: 1rem;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    color: #000000;
        
                  }
        
                  .price-call-btn{
                    display: flex;
                    justify-content:space-between;
                    margin-right: 1.5rem;
                    margin-top: 1rem;
                    p{
                      span{
                        color: #3F7843;
                        font-size: 28px;
                        @media screen and (max-width: 769px) {
                          font-size: 16px;  
                        }
                      }
                      
                    }
        
                    button{
                      padding: 8px;
                      background: #121212;
                      border-radius: 7px;
                      height: 35px;
                      margin-top: 15px;
                      img{
                        width: 14px;
                        height: 14px;
                      }
                      span{
                        color: #FFFFFF;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 21px;
                      }
                    }
        
                  }
        
                  .facilaties{
                    display: flex;
                    padding: 8px 19px;
                    background: #D9D9D9;
                    margin-top: 1rem;
                    border-radius: 0px 0px 10px 0px;
                    @media screen and (max-width: 769px) {
                      padding: 8px 8px;  
                      justify-content: space-between;
                    }
        
                    .toilet{
                      margin-left: 3px;
                      @media screen and (max-width: 769px) {
                        font-size: 14px;  
                      }
                      img{
                        width: 18px;
                        height: 14px;
                        @media screen and (max-width: 769px) {
                          width: 17px;
                          height: 18px;
                          
                        }
                    }
                  }
        
                    .bedroom{
                      margin-left: 5px;
                      @media screen and (max-width: 769px) {
                        font-size: 14px;  
                      }
                      img{
                        width: 18px;
                        height: 14px;
                        @media screen and (max-width: 769px) {
                          width: 17px;
                          height: 18px;
                          
                        }
                      }
                    }
        
                    .bathroom{
                      margin-left: 5px;
                      @media screen and (max-width: 769px) {
                        font-size: 14px;  
                      }
                      img{
                        width: 18px;
                        height: 14px;
                        @media screen and (max-width: 769px) {
                          width: 17px;
                          height: 18px;
                          
                        }
                    }
                  }
                    .heart{
                      margin-left: 2.5rem;
                      @media screen and (max-width: 769px) {
                        display: none;
                      }
                    }
                  }
                }
              }

              .properties{
                display: flex;
                margin-block: 20px;
                p{
                  font-size: 22px;
                  font-weight: 500;
                  color: #000000;
                 // text-decoration: solid;
                }
                img{
                  height: 32px;
                  width: 32px;
                }
              }
            }
          }
    
          .agent-filter{
            width: 32%;
          }
      }

      
}