* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  gap: 40px;
  padding: 50px 0px;
  .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .subscription-card-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    .subscription-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 0 280px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
        2px 2px 6px 0px rgba(0, 0, 0, 0.1), 7px 8px 11px 0px rgba(0, 0, 0, 0.09),
        16px 19px 15px 0px rgba(0, 0, 0, 0.05),
        28px 34px 17px 0px rgba(0, 0, 0, 0.01),
        44px 52px 19px 0px rgba(0, 0, 0, 0);

      .card-header {
        background-color: black;
        color: #fff;
        width: 100%;
        padding: 5px 0px;
        text-align: center;
      }
      .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        padding: 15px;
        ul {
          list-style: none;
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
  .faq {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    gap: 40px;
    padding: 30px 60px;
  }
}
